{% extends 'base.html.twig' %}

{% block main %}
    <section>
        <a class="btn" href="{{ path('admin_insert_category') }}">Créer une nouvelle catégorie</a>
    </section>

    <section>
        <ul class="category">
            {% for category in categories %}
                {% if category.isPublished %}
                    <li><a href="{{ path('admin_category', {'id' : category.id }) }}" style="color: {{ category.color }};">{{ category.title }}</a>
                        <a class="btn" href="{{ path('admin_category_delete', {'id' : category.id}) }}">Supprimer</a>
                        <a class="btn" href="{{ path('admin_category_update', {'id' : category.id}) }}">Update</a></li>
                    <br>
                {% else %}
                    <p>Cette catégorie n'est pas encore publiée</p>
                {% endif %}
            {% endfor %}
        </ul>

    </section>

{% endblock %}