<article>
    <div class="image">
        <img src="{{ article.image }}" alt="image">
    </div>
    <div class="text">
        <h2>{{ article.title }}</h2>
        {% if article.category %}
            <p>{{ article.category.title }}</p>
        {% endif %}
        <p>{{ article.content }}</p>
        <p>auteur : {{ article.author }}</p>
    </div>
</article>