<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block css %}
    <link rel="stylesheet" href="{{ asset('style.css') }}">
    {% endblock %}
    {% block title %}
        <title>Blog La piscine</title>
    {% endblock %}
</head>
<body>

<header>
    <ul>
        <li><a href="{{ path('home') }}">Accueil</a></li>
        <li><a href="{{ path('admin_list') }}">Liste d'articles</a></li>
        <li><a href="{{ path('admin_list_category') }}">Liste de catégories</a></li>
    </ul>
</header>

{% for message in app.flashes('sucess') %}
    <p>{{ message }}</p>
{% endfor %}

<main>

    {% block main %}
    {% endblock %}

</main>


<footer>
    {% block footer %}
        <p>Copyright La piscine - 2022</p>
    {% endblock %}
</footer>

</body>