<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    {% block css %}
    <link rel="stylesheet" href="{{ asset('style.css') }}">
    {% endblock %}
    {% block title %}
        <title>Blog La piscine</title>
    {% endblock %}
</head>
<body>

<header>
    <ul>
        <li><a href="{{ path('home') }}">Accueil</a></li>
        <li><a href="{{ path('admin_list') }}">Liste d'articles</a></li>
        <li><a href="{{ path('admin_list_category') }}">Liste de catégories</a></li>
    </ul>
    <form action="{{ path('admin_article_search') }}" method="GET" class="search">
        <input type="text" name="search" class="form-control">
        <input type="submit" class="btn bg-warning">
    </form>
</header>

{% for message in app.flashes('success') %}
    <p class="message-success">{{ message }}</p>
{% endfor %}

{% for message in app.flashes('error') %}
    <p class="message-error">{{ message }}</p>
{% endfor %}

<main>

    {% block main %}
    {% endblock %}

</main>


<footer>
    {% block footer %}
        <p>Copyright La piscine - 2022</p>
    {% endblock %}
</footer>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>