{% include '_header.html.twig' %}

<main>
    <div class="article">
        <img src="{{ article.image }}" alt="image">
        <h2>{{ article.title }}</h2>
        <p>{{ article.description }}</p>
        <p>publié le : {{ article.publishedAt|date("d/m/Y") }}</p>
        <p>auteur : {{ article.author }}</p>
    </div>

</main>

{% include '_footer.html.twig' %}